body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #61dafb;
  font-size: 2em;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

.form {
  background: #383838;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-size: 1.2em;
  color: #61dafb;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #61dafb;
  border-radius: 5px;
  background: #282c34;
  color: #ffffff;
  box-sizing: border-box;
}

input[type="submit"] {
  background: linear-gradient(45deg, #61dafb, #45aaf2);
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}


input[type="submit"]:hover {
  background: linear-gradient(45deg, #45aaf2, #2189ea);
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(97, 218, 251, 0.8);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-right: 15px;
}

button {
  background: linear-gradient(45deg, #61dafb, #45aaf2);
  color: #ffffff;
  padding: 12px 24px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #45aaf2, #2189ea);
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(97, 218, 251, 0.8);
}

main {
  padding: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

th, td {
  border: 1px solid #61dafb;
  padding: 15px;
}

footer {
  background-color: #333;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}